# General
.DS_Store
*.log
*.tmp

# .NET
bin/
obj/
*.user
*.suo

# Node.js
node_modules/
npm-debug.log
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
*.egg-info/

# Java
target/
*.class
*.jar
!gradle-wrapper.jar

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Helm chart packages
*.tgz
.cr-release-packages/
.cr-index/
